<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <header class="grid-2">
        <h1>logo</h1>
        <nav class="center">

            {% if page.lang == 'en' %}    
                {% for link in site.data.navagation.links %}
                    <a href="{{link.href}}">{{link.english_name}}</a>
                {% endfor %}

                <div class="dropdown-nav">
                    <div class="headerNav">lang</div>
                    {% if page.url contains 'post' %}
                        
                    {% else %}
                    <div class="dropdown-content">
                        <a href="#">En</a>
                        <a href="/de{{page.url}}">de</a>
                        <a href="/fr{{page.url}}">fr</a>                    
                    </div>
                    {% endif %}
                </div>

            {% elsif page.lang == 'fr' %}

                {% for link in site.data.navagation.links %}
                <a href="/de{{link.href}}">{{link.french_name}}</a>
                {% endfor %}
                <div class="dropdown-nav">
                    <div class="headerNav">lang</div>
                    <div class="dropdown-content">
                        <a href="{{page.url | replace:'/fr', '' }}">En</a>
                        <a href="{{page.url | replace:'/fr', '/de' }}">de</a>
                        <a href="#">fr</a>
                    </div>
                </div>
            {% elsif page.lang == 'de' %}
                {% for link in site.data.navagation.links %}
                <a href="/de{{link.href}}">{{link.german_name}}</a>
                {% endfor %}
                <div class="dropdown-nav">
                    <div class="headerNav">lang</div>
                    <div class="dropdown-content">
                        <a href="{{page.url | replace:'/de', '' }}">En</a>
                        <a href="#">de</a>
                        <a href="{{page.url | replace:'/de', '/fr' }}">fr</a>                    
                    </div>
                </div>

            {% endif %}
        </nav>

    </header>
    
    {{content}}
</body>
</html>